<!DOCTYPE html>
<html>
  <head>
    <title><%="Matthew O'Connor"  %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->

	   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<% javascript_include_tag("application") %>
	
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>

    </head>
  <body class = "global" id = "demolicous">
    <!-- Header -->

		  	
		  		
			<header id="header" class="skel-layers-fixed">
       

				
			    <h3 id = "matt">
					<%= link_to "Home", home_path %>
					<%= link_to "About", about_path %>
					<a href="static_pages/help">help</a>
					<a href="http://www.newgrounds.com">Games</a>
					<a href="#" class="btn btn-primary">Sign Up</a>
					</h3>
					</ul>
					 <script>
    //$(window).on("resize",function() {
        // This will fire each time the window is resized:
     
      //  if($(window).width() >= 780) {
        //    // if larger or equal
          //  $("#matt").show();
        //    $("#image").show();
         //   $("#det_img").show();
          //  $("#mob_head").addClass("show_mobile_header");
        //} else {
            // if smaller
           // $("#matt").hide();
        
          //  $("#image").hide();
        //    $("#det_img").hide();
          //  $("#mob_head").removeClass("show_mobile_header");
        //}
         //handles height
        //if($(window).height() >= 470) {
          // $("#like-sale").show();
         //} else {
          //$("#like-sale").hide();
        // }
         
         //if($(window).height() < 400) {
           //$("#prod-cont").hide();
         //} else {
         // $("#prod-cont").show();
         //}

         

   // }).resize(); // This will simulate a resize to trigger the initial run.
    </script>
			
			</header>
			</div>
    
    <div class="container" id = "demo-main">
      <%= yield %>
    </div>
  </body>
</html>